{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "add-module-exports",
    [
      "direct-import",
      {
        "modules":[
          "@material-ui/core",
          "@material-ui/icons",
          "history"
        ]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
